# Built application files
*.spec
dist/
build/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
.DS_Store

# Large Data & Models (Hackathon recommendation: Store elsewhere or use LFS)
*.csv
*.pkl
*.pt
*.h5

# Project Specific
backend/models/pressure_model.pkl
xgb_classifier.pkl
